    {%load static%}
    <div class="container col-xxl-8 px-4 py-2">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-2">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'img/flan-navidad.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-6 fw-bold fs-1 text-body-emphasis lh-1 mb-3">Hero</h1>
            <p class="lead">Description</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="{% url 'login'%}" type="button" class="btn btn-success btn-lg px-4 me-md-2">Login</a>
            </div>
        </div>
        </div>
    </div>


